/* $Id: privacy_status_dialog.css,v 1.1.2.2 2009/08/01 18:45:01 markuspetrux Exp $ */

/**
 * Privacy status icons.
 */
.cck-private-field-wrapper-single,
.cck-private-field-wrapper-multiple {
  padding-top: 0.2em;
}
.cck-private-field-wrapper-single-hover {
  background: url(../images/wrapper-hover.gif) repeat-x 0 0.2em;
}
.cck-private-field-wrapper-multiple-hover {
  background: url(../images/wrapper-hover.gif) repeat-x 0 1.2em;
}
.cck-private-field-wrapper-multiple .cck-private-field-status-icon {
  margin-top: 1em;
}
.cck-private-field-status-icon {
  float: right;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.cck-private-field-status-icon-public {
  background: url(../images/status-sprites.png) no-repeat 0 0;
}
.cck-private-field-status-icon-hidden {
  background: url(../images/status-sprites.png) no-repeat -20px 0;
}
.cck-private-field-status-icon-private {
  background: url(../images/status-sprites.png) no-repeat -40px 0;
}
/* Privacy status icon in multiple columns table used for multigroups. */
.content-multiple-table .cck-private-field-table-header,
.content-multiple-table .cck-private-field-status-icon {
  float: left;
}
.content-multiple-table .cck-private-field-status-icon {
  margin-left: 0.5em;
}

/**
 * jQuery UI Dialog classes.
 */
.cck-private-field-dialog {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #1b5084;
}
.cck-private-field-dialog .ui-dialog-titlebar {
  position: relative;
  cursor: move;
  height: 26px;
  background-color: #336699;
  border: 1px solid #6694c6;
  white-space: nowrap;
}
.cck-private-field-dialog .ui-dialog-title {
  display: block;
  position: absolute;
  top: 0; left: 0;
  margin: 0.2em 0.5em;
  padding: 0;
  color: #d9d9d9;
}
.cck-private-field-dialog .ui-dialog-titlebar-close {
  display: block;
  position: absolute;
  top: 0; right: 0;
  margin: 2px 2px 2px 0.5em;
  padding: 0;
  width: 23px;
  height: 20px;
  background: url(../images/close.gif) no-repeat 0 0;
}
.cck-private-field-dialog .ui-dialog-titlebar a.ui-state-hover,
.cck-private-field-dialog .ui-dialog-titlebar a.ui-state-focus {
  background-position: 0 -20px;
}
.cck-private-field-dialog .ui-dialog-titlebar-close span {
  display: none;
}
.cck-private-field-dialog .ui-dialog-content {
  color: #292929;
  background-color: #f8f8f8;
}

/**
 * ui-dialog overlay.
 */
.ui-widget-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #aaaaaa;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/**
 * Dialog container.
 */
#cck-private-field-dialog-container {
  margin: 0;
  padding: 1em;
}
