/* Yes, we all hate IE6 */

div.admin .left, div.admin .right {
	width:46%;  /* fix the admin page in IE6 */
}

/*
 * Tabs CSS - IE 5 and 6 don't support PNGs with alpha transparency.
 */

ul.primary li a,
ul.primary li a .tab,
ul.secondary li a,
ul.secondary li a .tab {
  display: inline; /* Otherwise the blocks mistakenly get 100% width in IE5 */
  display: inline-block; /* Otherwise the blocks mistakenly get 100% width in IE6 */
}

ul.primary,
ul.secondary {
  width: 100%; /* Otherwise IE5 treats the ul as floated */
  width: auto; /* Reset to auto width for IE6 */
}

ul.primary li a {
  background: url(images/tabs/tab-left-ie6.png) no-repeat left -38px;
}

ul.primary li a .tab {
  background: url(images/tabs/tab-right-ie6.png) no-repeat right -38px;
}

ul.primary li a:hover {
	cursor:pointer; /* Minor fix for primary and secondary tabs in IE */
	color:#555;
	text-decoration:none;
  background: url(images/tabs/tab-left-ie6.png) no-repeat left -76px;
}
ul.secondary li a:hover{
	cursor:pointer; /* Minor fix for primary and secondary tabs in IE */
	color:#555;
	text-decoration:none;
}
ul.primary li a:hover .tab {
  background: url(images/tabs/tab-right-ie6.png) no-repeat right -76px;
}

ul.primary li.active a,
ul.primary li.active a:hover {
  background: url(images/tabs/tab-left-ie6.png) no-repeat left 0;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
  background: url(images/tabs/tab-right-ie6.png) no-repeat right 0;
}

/** Drupal admin tables **/

#content tr.even th,
#content tr.even td,
#content tr.odd th,
#content tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}
#header #site-header {
	width:518px;
	overflow:hidden;
}
#block-views-Highlights_in_Homepage-block_1 .view-id-Highlights_in_Homepage .view-content .views-row-first{
        margin:5px 3px 0 0;
}
#block-views-Highlights_in_Homepage-block_1 .view-id-Highlights_in_Homepage .view-content .views-row,
#block-views-Highlights_in_Homepage-block_1 .view-id-Highlights_in_Homepage .view-content .views-row-first{
	width:190px;
        /*overflow:hidden;*/
        margin:5px 3px 0 3px !important;
}
#block-views-Highlights_in_Homepage-block_1 .view-Highlights-in-Homepage .view-content {
        width:98%;
        padding:0 5px;
}
#view_all_events_main #view_all_events_inner .views-row .views-field-field-start-date-value {
        width:auto !important;
}
#block-views-latest_events-block_1 #view_all_events_main #view_all_events_inner,
#block-views-latest_events-block_1 #view_all_events_main #view_all_events_inner .views-row .views-field-title,
#block-views-latest_events-block_1 #view_all_events_main #view_all_events_inner .views-row .views-field-field-start-date-value {
        width:250px;
}
.view-resource-library .view-content #rl_common_container .rl_eachContents .rl_rightContainer,
.view-resource-by-country .view-content #rl_common_container .rl_eachContents .rl_rightContainer,
.view-resource-by-subject .view-content #rl_common_container .rl_eachContents .rl_rightContainer,
.view-resource-by-type-search .view-content #rl_common_container .rl_eachContents .rl_rightContainer
{
        overflow:hidden;
}
.view-resource-library .view-content #rl_common_container .rl_eachContents .rl_leftImage,
.view-resource-by-country .view-content #rl_common_container .rl_eachContents .rl_leftImage,
.view-resource-by-subject .view-content #rl_common_container .rl_eachContents .rl_leftImage,
.view-resource-by-type-search .view-content #rl_common_container .rl_eachContents .rl_leftImage{
        margin-left:0;
}
#block-views-resource_by_country-block_4 .views-field-field-resource-type-image-fid .field-content{
        float:right;
}
#view_all_events_main #view_all_events_inner .views-row .views-field-body{
        margin-left:2px;
}
#view_all_events_main #view_all_events_inner .views-row .views-field-body  p{
        height:60px;
}
#block-views-Highlights_in_Homepage-block_1 .view-Highlights-in-Homepage .view-content .views-field-view-node  {
        height:15px;
        margin-top:-30px;
}
#content{
        margin-top:10px !important;
}
.rotor_button li {
        display:inline;
        float:left;
        list-style-image:none;
        list-style-type:none;
}
#view_all_events_main #view_all_events_inner .views-row .views-field-title {
        width: 200px;
}
.rotor-items .rotor-content{
        background:#F9F7EE;
}
#block-views-b723a0c5fa243795b34dfca7ddb3ee6a #resourceByCategory{ 
        width:850px !important;
        left:50% !important;
        margin-top:-260px !important;
        margin-left:-350px !important;
        position:absolute !important;
        height:400px !important;
        z-index:99999 !important;
        
}
#backgroundPopup{
        position:absolute;
        background:none repeat scroll 0 50% #000000;
        filter: alpha(opacity=70);
        margin-left:-512px !important;
        margin-top:-700px !important;
        position:absolute !important;
}
#content_page{
        overflow:hidden;
}
#block-views-featured_resources_home-block_1 .view-featured-resources-home .view-content .views-row .views-field-view-node{
        height:10px;
}
#block-quicktabs-8 #view_all_events_main #view_all_events_inner {
        border-bottom:1px solid #C0C0C0;
        float:left;
        clear:both;
        width:600px;
}
#block-quicktabs-8 #view_all_events_main #view_all_events_inner .views-row .views-field-title,
#block-quicktabs-8 #view_all_events_main #view_all_events_inner .views-row .views-field-field-start-date-value{
        width:500px;
}
#page #header{
        height:145px;
        overflow:hidden;
}

/* Choose Criteria */
#quicktabs-9 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget .form-checkboxes .form-item label{
    padding-top:0px;
    margin-top:0px;
    background-color:transparent;
    float:left;
    color:#372F22;
    color:#372F22;
    font:11px Verdana;
    letter-spacing:0.03em;
}

.view-resource-library .view-content #rl_common_container .rl_eachContents{
	width:595px;
}

.term_format_link{
	width:99%;
}

#content_page #content-inner #content-bottom .view-resource-library .view-content  {
	float:left;
	margin:0 0 0 0;
	width:590px;
}

.rl_commonExeptWidth .rl_texonomyCont .taxonomy ul{
	width:98%;
}

.rl_commonExeptWidth .rl_texonomyCont .taxonomy ul li {
	display:inline;
	list-style:none outside none;
	padding-right:5px;
	text-align:left;
}

.rl_commonExeptWidth .rl_texonomyCont .taxonomy ul li a{
	white-space: nowrap;
}

#block-quicktabs-9 .block-inner .content #quicktabs-9 #quicktabs_container_9 .view-resource-library .item-list ul.pager {
	margin-left:0px;
	margin-top:-20px;
	background-color:#F9F7EE;
}

#page #main #content_page #content-inner #content-area .node .node-inner .taxonomy {
	padding-left:14px;
}

#page #main #content_page #content-inner #content-area .node .node-inner .taxonomy .term_format_link ul li a{
	white-space: nowrap;
}

.view-id-Highlights_in_Homepage .view-content .views-row .views-field-field-image-fid .field-content a img{
	width:185px;
}

/*#block-block-25 p.gallery-links a.solomon,
.photo-browse-all-wrap p.gallery-links a.solomon{
	margin-left: 14px;
}*/