/* Yes, we all hate IE7 too */

/** Drupal admin tables **/

#content tr.even th,
#content tr.even td,
#content tr.odd th,
#content tr.odd td {
    border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}

/* Minor fix for primary and secondary tabs in IE */

ul.primary li a:hover {

    cursor:pointer;
    color:#555;
    text-decoration:none;
}
ul.secondary li a:hover{
    cursor:pointer;
    color:#555;
    text-decoration:none;
}

ul.quicktabs_tabs.quicktabs-style-garland li a:link, ul.quicktabs_tabs.quicktabs-style-garland li a:visited  {
    padding-top:6px;
    padding-bottom:6px;
}


ul.quicktabs_tabs.quicktabs-style-garland li{
    padding-top:4px !important;
    padding-bottom:4px !important;
}
#homepage_right_top_a .block-id-94 .block-inner .content{
    width:165px !important;
}

#homepage_right_top_b .block-id-93 .block-inner .content{
    width:155px !important;
}
/*report detail page css */
#page #main #content_page #content-inner #content-area .node .node-inner .taxonomy .term_format_link li{
    display:inline;
    float:left;
    list-style:none outside none;
    padding-right:5px;
}
/* report detail page ends here */

/* resource by type starts here */
.rl_commonExeptWidth .rl_texonomyCont .taxonomy ul li a{
    text-align: left !important;
}
.rl_commonExeptWidth .rl_texonomyCont .taxonomy ul li{
    float: none;
    display: inline;
}
/* cnc */
/*#block-views-Highlights_in_Homepage-block_1 .view-Highlights-in-Homepage .view-content .views-field-view-node{
        margin-top:0px;
}*/

#block-views-featured_resources_home-block_1 .view-featured-resources-home .view-content .views-row .views-field-view-node{
    margin-top:0px;
}

.view-latest-events .view-content .views-row .views-field-view-node {
    margin-top:0px;
}

#rotor-view-id-rotor_image_contents-view-display-id-block_1 .rotor-items div{
    background-color:#F9F7EE;
}

#header .clear_all{
    height:0px;
}

.term_format_link{
    width: 540px;
    margin-bottom: 0 !important;
}
#block-views-Highlights_in_Homepage-block_1 .view-Highlights-in-Homepage .view-content .views-field-view-node{
    margin-top: -20px;
    float: right;
    width: 50px;

}
#homepage_extrem_top .div_border{
    padding-bottom: 0px;
}

.view-id-featured_resources_home .view-content .views-field-body p{
    margin-bottom:0px;
}


.rotor_button li {
    display:inline;
    float:left;
    list-style-image:none;
    list-style-type:none;
}
#view_all_events_main #view_all_events_inner .views-row .views-field-title {

}
.rotor-items .rotor-content{
    background:#F9F7EE;
}

#sidebar-first-inner #view_all_events_main #view_all_events_inner{
    padding-bottom:0px;
}

#block-views-ce4d0f732808f9229cb210940539f119{
    clear:both;
    /*margin-left:90px;*/
    float:none;
}

#block-block-14{
    margin-top:-240px;
}


.seeAllSub {
    margin:7px 0 5px;
}

#homepage_right_top_a ul li {
    padding: 7px 0 5px 0;
}
#homepage_right_top_b ul li {
    padding: 7px 0 5px 0;
}

.page-partners .view-cti-partners .view-content {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 96%;
}

.slide-header{
    filter:alpha(opacity=60);
}

#content-area .node-inner #rlLanding_common_container {
    width: 96%;
}

#homepage_right_top_a .block-inner h3 {
    margin-bottom: 7px;
    width: 80px;
}

#homepage_right_top_b .block-inner h3 {
    margin-bottom: 7px;
    margin-left: 10px;
    width: 80px;
}

#backgroundPopup {
    background:#000000 none repeat scroll 0%;
    border:1px solid #CECECE;
    display:none;
    height:100%;
    left:0pt;
    position:fixed;
    top:0pt;
    width:100%;
    z-index:100;
}
#resourceByCategory {
    background:#FFFFFF none repeat scroll;
    background-position:center;
    border:10px solid #CECECE;
    display:none;
    font-size:13px;
    /*height:274px;*/
    padding:12px;
    position:fixed;
    width:80%;
    z-index:200;
    /*margin-top:-20% !important;
    margin-left:-27% !important;*/
}
#resourceByCategory h1 {
    background:transparent no-repeat scroll 0% 0%;
    color:#FBB815;
    font-size:18px;
    font-weight:700;
    margin-bottom:20px;
    padding-bottom:2px;
    text-align:left;
    padding-left:45px;
    margin-left:-3px;
}

#popupLoginClose {
    color:#FBB815;
    display:block;
    font-size:14px;
    font-weight:700;
    line-height:14px;
    position:absolute;
    right:6px;
    top:4px;
    cursor: pointer;
}

#user-login .form-text {
    width: 200px;
    border: 1px solid #c0c0c0;
}

/*#block-block-25 p.gallery-links a.solomon,
.photo-browse-all-wrap p.gallery-links a.solomon{
    margin-left: 14px;
}*/
