#hansel-rules {
  padding-bottom: 20px;
}

.hansel-rule {
  border-top: 1px solid #ccc;
}

.hansel-name {
  font-weight: bold;
  background-color: #eee;
}

.hansel-info {
  padding-left: 10px;
}

.hansel-crumb-info {
  
}

.hansel-children {
  padding-top: 5px;
}

.hansel-buttons {
  float: right;
}

.hansel-delete-link,
.hansel-config-rule-link {
  display: block;
  float: left;
  width: 16px;
  height: 12px;
}

.hansel-delete-link span,
.hansel-config-rule-link span {
  display: none
}

.hansel-delete-link {
  background: url(sprites.png) 0 -72px;
}

.hansel-delete-link:hover {
  background: url(sprites.png) 0 -84px;
}

.hansel-config-rule-link {
  background: url(sprites.png) 0 -48px;
}

.hansel-config-rule-link:hover {
  background: url(sprites.png) 0 -60px;
}

#hansel-expand-buttons {
  text-align: right;
}